* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.card-left {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.answer {
  cursor: pointer;
}

.result-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.result-img {
  margin-left: 1rem;
  width: 2.5rem;
  height: auto;
}

ul {
  list-style: none;
}
